.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
}



:global(.fullPage-wp) {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}

:global(.fullPage-wp:after) {
    display: block;
    clear: both;

    height: 0;

    content: ' ';
}
:global(.fullPage-wp.anim) {
    -webkit-transition: all 500ms ease-out 0s;
            transition: all 500ms ease-out 0s;
}
:global(.fullPage-page) {
    position: relative;

    display: block;
    overflow: hidden;
}

:global(.fullPage-dir-h) {
    float: left;
}
